.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width        : 100%;
    padding-right: 20px;
    padding-left : 20px;
    margin-right : auto;
    margin-left  : auto;
}

.row {
    display     : flex;
    flex-wrap   : wrap;
    margin-top  : 0;
    margin-right: -15px;
    margin-left : -15px;
}

.row>* {
    box-sizing   : border-box;
    flex-shrink  : 0;
    width        : 100%;
    max-width    : 100%;
    padding-right: -15px;
    padding-left : -15px;
    margin-top   : 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position     : relative;
    width        : 100%;
    min-height   : 1px;
    padding-right: 7.5px;
    padding-left : 7.5px;
}

.text-center {
    text-align: center;
}

.word-wrap {
    word-wrap: break-word;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.img-responsive {
    display  : block;
    max-width: 100%;
    height   : auto;
}

.mx-auto {
    margin-left : auto;
    margin-right: auto;
}

.col-12 {
    flex : 0 0 auto;
    width: 100%;
}

.col-md-12 {
    flex : 0 0 auto;
    width: 100%;
}

.col-6 {
    flex : 0 0 auto;
    width: 50%;
}

.offset-6 {
    margin-left: 50%;
}

.table-responsive {
    display                   : block;
    width                     : 100%;
    overflow-x                : auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style        : -ms-autohiding-scrollbar;
}

.table {
    width           : 100%;
    margin-bottom   : 1rem;
    background-color: transparent;
}

.table thead th {
    border-bottom: none;
    font-weight  : 500;
    padding      : 1.1rem .45rem;
}

.table thead th {
    vertical-align: bottom;
    border-bottom : 2px solid #dee2e6;
}

.table th,
.table td {
    padding       : 0.75rem;
    vertical-align: top;
    border-top    : 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.table td {
    padding     : 1rem .45rem;
    border-color: #f3f1f1;
}

.table th,
.table td {
    padding         : 0.75rem;
    vertical-align  : top;
    border-top      : 1px solid #dee2e6;
    border-top-color: rgb(222, 226, 230);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#invoice {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color      : #212529;
}

b,
strong {
    font-weight: bolder;
}

p {
    font-size     : 15px;
    text-transform: capitalize;
    line-height   : 1.5;
    color         : #212529;
}

p {
    color: #000;
}

#invoice h1,
#invoice h2,
#invoice h3,
#invoice h4,
#invoice h5,
#invoice h6 {
    margin-bottom: 0.5rem;
    font-family  : inherit;
    font-weight  : 500;
    line-height  : 1.2;
    color        : inherit;
}

#invoice h1,
#invoice h2,
#invoice h3,
#invoice h4,
#invoice h5,
#invoice h6 {
    margin-top   : 0;
    margin-bottom: 0.5rem;
}